.git
.github
.next
**/.next
node_modules
**/node_modules
.pnpm-store

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

.data
**/.data
.logs
**/.logs
.state
**/.state
.chrome-profile
**/.chrome-profile

coverage
**/coverage
test-results
playwright-report
**/*.tsbuildinfo

.DS_Store
*.log
